body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(179, 179, 247);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  
}

.btnLogin {
  background-color: rgb(66, 109, 66);
  color: white;
}

.header {
  float:right;
  display: flex;
  margin: 10px;
  background-color: rgb(16, 167, 167);
}

.top {
  margin: 10px;
}

.inputs {
  padding: 55px;
  background-color: rgb(116, 189, 165);
}

.button {
  margin: 10px;
}

.table {
  display: flex;
  flex-direction: column;
}

.head {
  background-color: rgb(71, 113, 113);
  color: rgb(190, 182, 182);
  display: flex;
  justify-content: space-evenly;
}

.body {
  background-color: rgb(91, 127, 127);
  color: rgb(214, 212, 212);
  display: inline-table;
  padding: 10px 55px;
}

.td {
  height: 25px;
  min-width: 185px;
} 
